<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What can and can't be Recycled</title>
    <link rel="stylesheet" href="~/css/Issue.Css">

</head>
<body>
    <nav>
        <img src="~/images/white_logo.png" alt="Logo" class="logo">
        <ul id="sidebar">
            <li><a href="@Url.Action("WM","Home")#header">Home</a></li>
            <li><a href="@Url.Action("WM", "Home")#about-us">About Us</a></li>
            <li><a href="@Url.Action("WM", "Home")#rec-center">Recycling Centers</a></li>
            <li><a href="@Url.Action("WM", "Home")#edu-res">Educational Resources</a></li>
            <li><a href="@Url.Action("WM", "Home")#Schedule-Pickup">Schedule Pickup</a></li>
            <li><a href="@Url.Action("WM", "Home")#user-reg">Register</a></li>
        </ul>
    </nav>
    <h1 id="header-text">
        WHAT CAN AND CAN'T BE <span>RECYCLED?</span>
    </h1>
    <p>
        Recycling helps conserve natural resources, reduce landfill waste, and lower carbon emissions. However, it's important to know which materials can be recycled and which cannot.
    </p>
    <h3>
        Materials that can be Recycled include:
    </h3>
    <ul type="disc">
        <li>Paper (newspapers, cardboard, office paper)</li>
        <li>Metals (aluminum cans, steel cans)</li>
        <li>Certain plastics (like PET bottles and containers labeled with recycling codes 1-2)</li>
    </ul>
    <h3>
        Materials that can't be Recycled include:
    </h3>
    <ul type="disc">
        <li>Plastic bags</li>
        <li>Food-contaminated items (pizza boxes, food wrappers)</li>
        <li>Styrofoam</li>
    </ul>
    <img src="~/images/recycle and nonrecycle.png" alt="Please refresh the page" class="i1">
    <p>
        By following local recycling guidelines, we can prevent contamination and ensure more materials are recycled properly.
    </p>
    <script src="~/js/Issue.js"></script>
</body>
</html>